services:
  app:
    build: .
    image: stepping_stones
    container_name: app
    volumes:
      - ./:/opt/steppingstones
      - /opt/cobaltstrike:/opt/cobaltstrike
    expose:
      - "8000"
    environment:
      DJANGO_DEBUG: "FALSE"
      DJANGO_SECRET_KEY: "dev-secret-key"
      DJANGO_ALLOWED_HOSTS: "*"
    command: >
      sh -c "
        python manage.py makemigrations background_task event_tracker cobalt_strike_monitor &&
        python manage.py migrate &&
        python manage.py runserver 0.0.0.0:8000 --insecure
      "
    restart: always

  tasks:
    image: stepping_stones
    container_name: tasks
    volumes:
      - ./:/opt/steppingstones
      - /opt/cobaltstrike:/opt/cobaltstrike
    depends_on:
      - app
    command: |
      sh -c "
        if [ -f db.sqlite3 ]; then
            python manage.py shell -c \"from background_task.models import Task; Task.objects.filter(task_name='cobalt_strike_monitor.poll_team_server.poll_teamserver').delete()\"
        else
            echo \"db.sqlite3 does not exist; skipping poll_teamserver tasks removal.\"
        fi
        python manage.py process_tasks
      "
    restart: always

  web:
    build:
      context: ./nginx
      dockerfile: Dockerfile.nginx
    container_name: web
    ports:
      - "443:443"
      - "4321:4321"
    volumes:
      - ./nginx/certs/:/etc/nginx/certs/:rw
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: always
    
volumes:
  sqlite_data:
    driver: local