@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 200;
  src: url('Exo-200.woff2') format('woff2'),
       url('Exo-200.ttf') format('truetype');
}
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url('Exo-400.woff2') format('woff2'),
       url('Exo-400.ttf') format('truetype');
} 