{% load static %}
{% include "base/external-libs/momentjs.html" %}
<script src="{% static 'scripts/datetime-moment.min.js' %}"></script>

<script src="{% static "/scripts/bootstrap_input.js" %}"></script>

<script nonce="{{request.csp_nonce}}">
    DataTable.datetime("{% datetime_format_moment %}")
    DataTable.defaults.column.orderSequence = ['asc', 'desc']; // Remove neutral column sorting as an option - it breaks the server side query string parsing and feels clunky
    DataTable.defaults.layout = {
        topStart: null,
        topEnd: {
                features: ['search', 'buttons']
        },
        bottom: {
                rowClass: 'mt-2',
                features: ['info', 'pageLength', 'paging']
        },
        bottomStart: null,
        bottomEnd: null
    }
    DataTable.defaults.language = {
        infoEmpty: "No _ENTRIES_ to show"
    }
    DataTable.defaults.pagingType= "bootstrap_input"
</script>