{% load static %}
<script src="{% static 'scripts/external/turndown.js' %}"></script>
<script src="{% static 'scripts/external/turndown-plugin-gfm.js' %}"></script>

<script nonce="{{request.csp_nonce}}">
var tables = turndownPluginGfm.tables
var turndownService = new TurndownService()
turndownService.use(tables)

function copyMarkdown() {
    navigator.clipboard.writeText(
        turndownService.turndown(
            $(this).closest(".card-body").find('table')[0]
        )
    )
}

$(document).ready(function() {
    $(".markdown-table-copy").click(copyMarkdown)
})
</script>